{% extends 'ContadoresBundle:Layout:layout.html.twig' %}
{% form_theme edit_form 'ContadoresBundle:Rubro:fields.html.twig' %}

{% block title %}
{{ parent() }} -  {{ 'views.edit.edit'|trans({'%entity%': 'Rubro'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
{{ include('ContadoresBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block page %}

<h1>{{ 'views.edit.edit'|trans({'%entity%': 'Rubro'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<form class="well" action="{{ path('rubro_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />
    <div class="row ">
        <div class="row">
            {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control'}}) }}
            {{ form_widget(edit_form.area, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 margin-top-20">
            {{ form_widget(edit_form._token) }}
            <button type="submit" class="btn btn btn-success">Editar</button>
        </div>
    </div>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('rubro') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('rubro_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}
