{% extends 'ContadoresBundle:Layout:layout.html.twig' %}
{% form_theme form 'ContadoresBundle:Rubro:fields.html.twig' %}

{% block encabezado %}Crear rubro{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li>Rubros</li>
    <li class="active">Nuevo rubro</li>
{% endblock %}

{% block page %}
<div class="panel-heading">
    <h4 class="panel-title">Complete todos los campos.</h4>
</div>

<div class="panel-body container-fluid">
    <form class="well" action="{{ path('rubro_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="row ">
            <div class="row">
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.area, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 margin-top-20">
                {{ form_widget(form._token) }}
                <button type="submit" class="btn btn btn-success">Crear</button>
                {{ form_widget(form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
            </div>
        </div>
    </form>

</div>
{% endblock %}
