{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block encabezado %}
    Ver detalles del Rubro
{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li><a href="{{ path('rubro') }}">Rubros</a></li>
    <li class="active">Ver detalles del rubro</li>
{% endblock %}

{% block page %}
    <table class="table table-bordered table-hover table-striped" id="exampleAddRow">

        <tbody>
        <tr class="gradeA">
            <td><b>Nombre</b></td>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Área</b></td>
            <td>
                <a class="btn btn-mini" href="{{ path('area_show', { 'id': entity.area.id }) }}">
                {{ entity.area }}
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="dt-panelfooter clearfix">
        <div class="row">
            <a  href="{{ path('rubro') }}" class="btn btn-outline btn-default margin-right-20 margin-top-10">Volver</a>
        </div>
    </div>
{% endblock %}
