{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block title %}
{{ parent() }} -  Cambiar password
{% endblock %}

{% block menu %}
{{ include('ContadoresBundle:NavBars:navbar.html.twig') }}
{% endblock %}

{% block page %}

<div class="container">
  <div class="row">
  <div class="span4 offset4 well">
  	<legend>Cambiar password</legend>
      {% if error %}
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Error!</strong> {{ error }}
        </div>
      {% endif %}
  	<form action="{{ path('cambiar_password') }}" method="post">
    	<input type="password" class="span4" placeholder="Password" id="password" name="_password">
      <input type="password" class="span4" placeholder="Confirmar password" id="password2" name="_password2">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    	<button type="submit" name="submit" class="btn btn-info btn-block">Cambiar</button>
  	</form>
  </div>
  </div>
</div>

{% endblock %}
