{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block encabezado %}
    Ver detalles de la tarea
{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li><a href="{{ path('tareametadata') }}">Tareas</a></li>
    <li class="active">Ver detalles de la tarea</li>
{% endblock %}

{% block page %}

    <table class="table table-bordered table-hover table-striped" id="exampleAddRow">

        <tbody>
        <tr class="gradeA">
            <td><b>Nombre</b></td>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Periódica</b></td>
            <td>{% if entity.esperiodica %}Si{% else %}No{% endif %}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Rubro</b></td>
            <td>
                <a class="btn btn-mini" href="{{ path('rubro_show', { 'id': entity.rubro.id }) }}">
                    {{ entity.rubro }}
                </a>
           </td>
        </tr>
        <tr class="gradeA">
            <td><b>Activa</b></td>
            <td>{% if entity.activo %}Si{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <div class="dt-panelfooter clearfix">
      <div class="row">
        <div class="panel">
          <div class="panel-body">
            {% if entity.archivos|length > 0 %}
            <table class="table table-bordered table-hover table-striped" id="archivos">
              <tbody>
                {% for archivoTareaMetadata in entity.archivos %}
                  <tr class="gradeA">
                    <td><b>{{ archivoTareaMetadata.archivo.nombre}}</b></td>
                    <td>
                      <a download="{{ archivoTareaMetadata.archivo.nombre }}" href="{{ asset('') }}{{ archivoTareaMetadata.archivo.webPath }}" type="button" class="btn btn-outline btn-warning ladda-button margin-top-10" data-style="slide-left" data-plugin="ladda" style="text-decoration: none">
                        <span class="ladda-label">
                          <i class="icon wb-download margin-right-10" aria-hidden="true"></i>
                          Descargar archivo
                        </span>
                        <span class="ladda-spinner"></span>
                        <input type="hidden" class="fileId" name="files[]" value="{{ archivoTareaMetadata.archivo.id }}"/>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}

    <div class="dt-panelfooter clearfix">
      {% if entity.archivos|length > 0 %}
      <div class="row">
        <button type="button" class="btn btn-outline btn-warning ladda-button margin-top-10" data-style="slide-left" data-plugin="ladda" id="downloadAll" href="{{ path('contadores_archivo_downloadZip') }}">
          <span class="ladda-label">
            <i class="icon wb-download margin-right-10" aria-hidden="true"></i>
            Descargar todos
          </span>
          <span class="ladda-spinner"></span>
        </button>
      </div>
      {% endif %}
        <div class="row">
          <a type="button" href="{{ path('tareametadata_dar_de_baja', { id: entity.id }) }}" id="darDeBaja" class="pull-right btn btn-default margin-top-10">Dar de baja</a>
          <a href="{{ path('tareametadata') }}" class="btn btn-outline btn-default margin-right-20 margin-top-10">Volver</a>
        </div>
    </div>

    </div>
    </div>
    </div>
    </div>

{% endblock %}

{% block javascript %}
  <script src="{{ asset('bundles/contadores/assets/js/fileFunctions.js') }}"></script>
  <script src="{{ asset('bundles/contadores/assets/js/confirmDarDeBaja.js') }}"></script>
{% endblock %}
