{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block encabezado %}
    Ver detalles de la tarea
{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li><a href="{{ path('tareametadata') }}">Tareas</a></li>
    <li class="active">Ver detalles de la tarea</li>
{% endblock %}

{% block page %}

    <table class="table table-bordered table-hover table-striped" id="exampleAddRow">

        <tbody>
        <tr class="gradeA">
            <td><b>Nombre</b></td>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Periódica</b></td>
            <td>{% if entity.esperiodica %}Si{% else %}No{% endif %}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Rubro</b></td>
            <td>
                <a class="btn btn-mini" href="{{ path('rubro_show', { 'id': entity.rubro.id }) }}">
                    {{ entity.rubro }}
                </a>
           </td>
        </tr>
        <tr class="gradeA">
            <td><b>Activa</b></td>
            <td>{% if entity.activo %}Si{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <div class="dt-panelfooter clearfix">
        <div class="row">
            <a  href="{{ path('tareametadata') }}" class="btn btn-outline btn-default margin-right-20 margin-top-10">Volver</a>
        </div>
    </div>

{% endblock %}
