{% block _contadoresbundle_vencimiento_fecha_widget %}
  <div class="col-sm-6 col-md-6">
    <h4 class="example-title">Fecha</h4>
    <div class="input-group">
      <span class="input-group-addon">
        <i class="icon wb-calendar" aria-hidden="true"></i>
      </span>
      {{ block('form_widget_simple') }}
    </div>
  </div>
{% endblock %}

{% block _contadoresbundle_vencimiento_colaCuil_widget %}
  <div class="col-sm-6 col-md-6">
    <h4 class="example-title">Digito verificador del CUIL/CUIT</h4>
    {{ block('form_widget_simple') }}
  </div>
{% endblock %}

{% block _contadoresbundle_vencimiento_tareaMetadata_widget %}
    <div class="col-sm-6 col-md-6 ">
        <h4 class="example-title">Tarea periódica asociada</h4>
        <div class="form-group">
            {{ block('choice_widget') }}
        </div>
    </div>
{% endblock %}

{% block _contadoresbundle_vencimiento_esquema_widget %}
    <div class="col-sm-6 col-md-6 ">
        <h4 class="example-title">Esquema de vencimiento</h4>
        <div class="form-group">
            {{ block('choice_widget') }}
        </div>
    </div>
{% endblock %}

{% block _contadoresbundle_vencimiento_periodo_widget %}
    <div class="col-sm-6 col-md-6 ">
        <h4 class="example-title">Período</h4>
        <div class="form-group">
            {{ block('choice_widget') }}
        </div>
    </div>
{% endblock %}
