{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block encabezado %}
    Ver detalles del vencimiento
{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li><a href="{{ path('vencimiento') }}">Vencimientos</a></li>
    <li class="active">Ver detalles del vencimiento</li>
{% endblock %}

{% block page %}

    <table class="table table-bordered table-hover table-striped" id="exampleAddRow">

        <tbody>
        <tr class="gradeA">
            <td><b>Periodo</b></td>
            <td>{{ entity.periodo }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Fecha</b></td>
            <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Cola CUIL/CUIT</b></td>
            <td>{{ entity.colaCuil }}</td>
        </tr>
        </tbody>
    </table>

    <div class="dt-panelfooter clearfix">
        <div class="row">
            <a  href="{{ path('vencimiento') }}" class="btn btn-outline btn-default margin-right-20 margin-top-10">Volver</a>
        </div>
    </div>

{% endblock %}