<li class="site-menu-item">
    <a class="animsition-link" href="{{ path('home') }}" data-slug="angular">
        <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
        <span class="site-menu-title">Dashboard</span>
        <div class="site-menu-label">

        </div>
    </a>
</li>
<li class="site-menu-item">
    <a class="animsition-link" href="{{ path('usuario_new') }}" data-slug="angular">
        <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
        <span class="site-menu-title">Crear Usuario</span>
        <div class="site-menu-label">

        </div>
    </a>
</li>
<li class="site-menu-item">
    <a class="animsition-link" href="{{ path('cliente_new') }}" data-slug="angular">
        <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
        <span class="site-menu-title">Crear Cliente</span>
        <div class="site-menu-label">

        </div>
    </a>
</li>
<li class="site-menu-item">
    <a class="animsition-link" href="{{ path('contador_new') }}" data-slug="angular">
        <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
        <span class="site-menu-title">Crear Contador</span>
        <div class="site-menu-label">

        </div>
    </a>
</li>
<li class="site-menu-item">
    <a class="animsition-link" href="{{ path('tipoestado_new') }}" data-slug="angular">
        <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
        <span class="site-menu-title">Crear Tipo de Estado</span>
        <div class="site-menu-label">

        </div>
    </a>
</li>


