<li class="site-menu-item">
    <a class="animsition-link" href="{{ path('home') }}" data-slug="angular">
        <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
        <span class="site-menu-title">Dashboard</span>
        <div class="site-menu-label">

        </div>
    </a>
</li>
<li class="site-menu-item">
    <a class="animsition-link" href="{{ path('tarea') }}" data-slug="angular">
        <i class="site-menu-icon wb-clipboard" aria-hidden="true"></i>
        <span class="site-menu-title">Mis Tareas</span>
        <div class="site-menu-label">

        </div>
    </a>
</li>
<li class="site-menu-item has-sub">
    <a href="javascript:void(0)" data-slug="layout">
        <i class="site-menu-icon wb-user-circle" aria-hidden="true"></i>
        <span class="site-menu-title">Clientes</span>
        <span class="site-menu-arrow"></span>
    </a>
    <ul class="site-menu-sub">
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('cliente') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">Ver clientes</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('tarea_new') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">Asignar T. no periodica</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('tarea_realizada') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">Cargar tareas realizadas</span>
            </a>
        </li>
        <li class="site-menu-item">
            <a class="animsition-link" href="{{ path('tarea_agendar') }}" data-slug="layout-menu-expended">
                <i class="site-menu-icon " aria-hidden="true"></i>
                <span class="site-menu-title">Agendar tarea</span>
            </a>
        </li>
    </ul>
</li>


