<div class="navbar nav">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('home') }}">Contadores</a>

          	<div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="divider-vertical"></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Tareas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('tareametadata_new') }}">Crear TareaMetadata</a></li>
                            <li><a href="{{ path('tarea_new') }}">Crear Tarea</a></li>
                            <li><a href="{{ path('tarea') }}">Ver Tareas</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">SubTareas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('subtareametadata_new') }}">Crear SubTareaMetadata</a></li>
                            <li><a href="{{ path('subtarea_new') }}">Crear SubTarea</a></li>
                            <li><a href="{{ path('subtarea') }}">Ver SubTareas</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Areas <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('area_new') }}">Crear Area</a></li>
                            <li><a href="{{ path('area') }}">Ver todas</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('contador') }}">Contadores</a></li>
                    <li><a href="{{ path('cliente') }}">Clientes</a></li>
                </ul>
                {{ include('ContadoresBundle:NavBars:menu_usuario.html.twig') }}
            </div>
        </div>
    </div>
</div>
