{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% form_theme form 'ContadoresBundle:Cliente:fields.html.twig' %}

{% block encabezado %}Crear cliente{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li>Cliente</li>
    <li class="active">Nuevo cliente</li>
{% endblock %}

{% block page %}
    <div class="panel-heading">
        <h4 class="panel-title">Complete todos los campos.</h4>
    </div>

    <div class="panel-body container-fluid">
<form class="well" action="{{ path('cliente_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="row ">
            <div class="row">
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.direccion, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="row">
                {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="row">
                {{ form_widget(form.cuit, {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(form.usuario, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 margin-top-20">
                <button type="submit" class="btn btn btn-success">Crear</button>
                {{ form_widget(form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
            </div>
        </div>
        {{ form_widget(form._token) }}
    </form>
</div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('bundles/contadores/assets/js/cuit_cliente.js') }}"></script>
{% endblock %}
