{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block encabezado %}
    Ver detalles del cliente
{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li><a href="{{ path('cliente') }}">Clientes</a></li>
    <li class="active">Ver detalles del cliente</li>
{% endblock %}

{% block page %}

<table class="table table-bordered table-hover table-striped" id="exampleAddRow">

    <tbody>
    <tr class="gradeA">
        <td><b>Nombre</b></td>
        <td>{{ entity.nombre }}</td>
    </tr>
    <tr class="gradeA">
        <td><b>Dirección</b></td>
        <td>{{ entity.direccion }}</td>
    </tr>
    <tr class="gradeA">
        <td><b>Email</b></td>
        <td>{{ entity.mail }}</td>
    </tr>
    <tr class="gradeA">
        <td><b>Teléfono</b></td>
        <td>{{ entity.telefono }}</td>
    </tr>
    <tr class="gradeA">
        <td><b>CUIL/CUIT</b></td>
        <td>{{ entity.cuit }}</td>
    </tr>
    <tr class="gradeA">
        <td><b>Usuario</b></td>
        <td>{{ entity.usuario }}</td>
    </tr>
    </tbody>
</table>

<div class="dt-panelfooter clearfix">
    <div class="row">
        <a  href="{{ path('cliente') }}" class="btn btn-outline btn-default margin-right-20 margin-top-10">Volver</a>
    </div>
</div>

</div><!-- panel body del layout-->
</div><!-- panel del layout-->

<div class="panel"><!-- cierra con elpanel del layout-->
    <div class="panel-body"><!-- cierra con panel body del layout-->


        <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
            <thead>
            <tr>
                <th>Tarea</th>
                <th>Acciones</th>
            </tr>
            </thead>{% for tarea in entity.tareas %}
            <tr class="gradeA">
                <td><a href="{{ path('tarea_show', { 'id': tarea.id }) }}" >
                        <b>{{ tarea.nombre }}</b>
                    </a> </td>
                <td><a href="{{ path('tarea_show', { 'id': tarea.id }) }}" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"
                       data-toggle="tooltip" data-original-title="ver tarea"><i class="icon wb-eye" aria-hidden="true"></i></a></td>
            </tr>{% endfor %}
            {% if entity.tareas|length < 1 %}
                <tr class="gradeA">
                    <p> <i>No hay tareas asignadas</i></p>
                </tr>
            {% endif %}

        </table>





        {% endblock %}
