{% extends 'ContadoresBundle:Layout:layout.html.twig' %}
{% form_theme filterForm 'ContadoresBundle:Tarea:fieldsFilter.html.twig' %}

{% block encabezado %}
Ver tareas
{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li>Tareas</li>
    <li class="active">Ver tareas</li>
{% endblock %}


{% block filtro %}
    {% if form_errors(filterForm) %}
    <div class="span2">
            <div class="alert alert-block alert-error fade in form-errors">
                {{ form_errors(filterForm) }}
            </div>
        &nbsp;
    </div>
    {% endif %}
    <div class="page-header-actions">
        <a class="btn btn-sm btn-default btn-outline btn-round" data-toggle="collapse" data-target="#filters">
            {{ 'views.index.filters'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
            <span class="caret"></span>
        </a>
    </div>
<div class="span12">
    <div id="filters" class="collapse">

        <form class="well" action="{{ path('tarea') }}" method="get" {{ form_enctype(filterForm) }}>

            <div class="row">
                {{ form_widget(filterForm.nombre) }}
            </div>
            <div class="row">
                {{ form_widget(filterForm.cliente) }}
                {{ form_widget(filterForm.contador) }}
            </div>
            <div class="row">
                {{ form_widget(filterForm.vencimientoInterno, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}

            </div>
            <div class="row">
                {{ form_widget(filterForm.vencimientoFiscal, {'attr': {'class': 'form-control', 'data-provide': 'datepicker', 'data-date-format': 'dd/mm/yyyy', 'data-date-autoclose': 'true'}}) }}

            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4 margin-top-20">
                    {{ form_row(filterForm._token) }}
                    <button type="submit" name="filter_action" class="btn btn-outline btn-default" value="reset">{{ 'views.index.reset'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                    <button type="submit" name="filter_action" class="btn btn-success"  value="filter">{{ 'views.index.filter'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block page %}

<div class="row">

    <div class="span12">

    <table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Id</th>
            <th>Vencimiento fiscal</th>
            <th>Vencimiento interno</th>
            <th>Nombre</th>
            <th>Contador</th>
            <th>Cliente</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('tarea_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.vencimientoFiscal %}
                    {{ entity.vencimientoFiscal }}
                {% else %}
                    <i>Sin vencimiento fiscal</i>
                {% endif %}
            </td>
            <td>{% if entity.vencimientoInterno %}{{ entity.vencimientoInterno|date('Y-m-d ') }}{% endif %}</td>
            <td>{{ entity.nombre }}</td>
            <td><a href="{{ path('contador_show', { 'id': entity.contador.id }) }}"> {{ entity.contador }}</a>
               </td>
            <td><a href="{{ path('cliente_show', { 'id': entity.cliente.id }) }}"> {{ entity.cliente }}</a>
               </td>
            <td>
        <a class="btn btn-mini" href="{{ path('tarea_show', { 'id': entity.id }) }}">
            <i class="icon wb-eye" aria-hidden="true"></i>
        </a>
        <a class="btn btn-mini" href="{{ path('tarea_edit', { 'id': entity.id }) }}">
            <i class="icon wb-pencil" aria-hidden="true"></i>
        </a>            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
    <div class="dt-panelfooter clearfix">
        <a class="btn btn-success margin-top-10" href="{{ path('tarea_new') }}">
            {{ 'views.index.createnew'|trans({}, 'JordiLlonchCrudGeneratorBundle') }} Tarea
        </a>
        <div class="dataTables_paginate paging_simple_numbers">
            {{ pagerHtml|raw }}
        </div>
    </div>


</div>

{% endblock %}
