{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block encabezado %}
    Ver detalles de la tarea
{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li><a href="{{ path('tarea') }}">Tareas</a></li>
    <li class="active">Ver detalles de la tarea</li>
{% endblock %}


{% block page %}

<table class="table table-bordered table-hover table-striped" id="exampleAddRow">

    <tbody>
    <tr class="gradeA">
        <td><b>Fecha de inicio</b></td>
        <td>{{ entity.fechaInicio|date('d-m-Y ') }}</td>
    </tr>
    <tr class="gradeA">
        <td><b>Fecha de finalización</b></td>
        <td>{% if entity.fechaFin %}
                {{ entity.fechaFin|date('Y-m-d ') }}
            {% else %}
                <i>Tarea sin finalizar</i>
            {% endif %}
        </td>
    </tr>
    <tr class="gradeA">
        <td><b>Vencimiento Fiscal</b></td>
        <td>{% if entity.vencimientoFiscal %}
               {{ entity.vencimientoFiscal }}
            {% else %}
                <i>Sin Vencimiento Fiscal</i>
            {% endif %}
        </td>
    </tr>
    <tr class="gradeA">
        <td><b>Vencimiento interno</b></td>
        <td>{% if entity.vencimientoInterno %}
                {{ entity.vencimientoInterno|date('Y-m-d ') }}
            {% else %}
                <i>Sin vencimiento Interno</i>
            {% endif %}</td>
    </tr>
    <tr class="gradeA">
        <td><b>Nombre</b></td>
        <td>{{ entity.nombre }}</td>
    </tr>
    <tr class="gradeA">
        <td><b>Cliente</b></td>
        <td>
            <a href="{{ path('cliente_show', { 'id': entity.cliente.id }) }}" >
                <b> {{ entity.cliente }}</b>
            </a>
        </td>
    </tr>
    <tr class="gradeA">
        <td><b>Contador</b></td>
        <td>
            <a href="{{ path('contador_show', { 'id': entity.contador.id }) }}" >
                <b> {{ entity.contador }}</b>
            </a>

        </td>
    </tr>
    <tr class="gradeA">
        <td><b>Observaciones</b></td>
        <td>
            {% for observacion in entity.observaciones %}
                {{ observacion }} <br/>
            {% endfor %}
        </td>
    </tr>



    </tbody>
</table>
<div class="dt-panelfooter clearfix">
          <div class="row">
            <a  href="{{ path('tarea') }}" class="btn btn-outline btn-default margin-right-20 margin-top-10">Volver</a>
          </div>
</div>



{% endblock %}
