{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block title %}
{{ parent() }} -  Home
{% endblock %}

{% block page %}

<div class="jumbotron">
    <p class="lead">Bienvenido, {{ app.user.mail }}</p>
    <h2>Tareas Próximas a vencer</h2>

    {% if  tareas %}
    {% for tarea in tareas %}
        <a style="color: red;" href=
        {% if app.user.rol == "ROLE_CONTADOR" %}
        "{{ path('tarea_contador_show', { 'id': tarea.id }) }}"
        {% elseif app.user.rol == "ROLE_CLIENTE" %}
         "{{ path('tarea_cliente_show', { 'id': tarea.id }) }}"
        {% elseif app.user.rol == "ROLE_JEFE" %}
            "{{ path('tarea_show', { 'id': tarea.id }) }}"
        {% endif %}
        >
            <b>{{ tarea.nombre }}</b>
        </a>
       <br/>

    {% endfor %}
    {% endif %}
    {% if not tareas %}
        <p> <i>No hay tareas Urgentes</i></p>
    {% endif %}
</div>

{% endblock %}
