{% extends 'ContadoresBundle:Layout:layout.html.twig' %}
{% form_theme form 'ContadoresBundle:Usuario:fields.html.twig' %}

{% block encabezado %}Crear usuario{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li>Usuarios</li>
    <li class="active">Nuevo usuario</li>
{% endblock %}

{% block title %}
{{ parent() }} -  {{ 'views.new.creation'|trans({'%entity%': 'Usuario'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
<div class="panel-heading">
    <h4 class="panel-title">Complete todos los campos.</h4>
</div>

<div class="panel-body container-fluid">
<form action="{{ path('usuario_create') }}" method="post" {{ form_enctype(form) }}>
    <div class="row">
        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.rol, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="row">
      {{ form_widget(form.activo) }}
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 margin-top-20">
            <button type="submit" class="btn btn-success">Crear</button>
            {{ form_widget(form.reset, {'attr': {'class': 'btn btn-outline btn-default'}}) }}
        </div>
    </div>
    {{ form_widget(form._token) }}
</form>

</div>
{% endblock %}
