{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block encabezado %}
    Ver detalles del usuario
{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li><a href="{{ path('usuario') }}">Usuarios</a></li>
    <li class="active">Ver detalles del usuario</li>
{% endblock %}

{% block page %}

    <table class="table table-bordered table-hover table-striped" id="exampleAddRow">

        <tbody>
        <tr class="gradeA">
            <td><b>Mail</b></td>
            <td>{{ entity.mail }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Rol</b></td>
            <td>{{ entity.rol }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Activo</b></td>
            <td>{% if entity.activo %}Si{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <div class="dt-panelfooter clearfix">
      <div class="row">
        {% if app.user.rol == 'ROLE_ADMIN' or app.user.rol == 'ROLE_JEFE' %}
          <a type="button" href="{{ path('usuario_dar_de_baja', { id: entity.id }) }}" id="darDeBaja" class="pull-right btn btn-default margin-top-10">Dar de baja</a>
        {% endif %}
        <a  href="{{ path('usuario') }}" class="btn btn-outline btn-default margin-right-20 margin-top-10">Volver</a>
      </div>
    </div>


{% endblock %}

{% block javascript %}
  <script src="{{ asset('bundles/contadores/assets/js/confirmDarDeBaja.js') }}"></script>
{% endblock %}
