{% extends 'ContadoresBundle:Layout:layout.html.twig' %}

{% block encabezado %}
    Ver detalles del contador
{% endblock %}

{% block breadcrum %}
    <li><a href="{{ path('home') }}">Inicio</a></li>
    <li><a href="{{ path('contador') }}">Contadores</a></li>
    <li class="active">Ver detalles del contador</li>
{% endblock %}

{% block page %}

    <table class="table table-bordered table-hover table-striped" id="exampleAddRow">

        <tbody>
        <tr class="gradeA">
            <td><b>Nombre</b></td>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Apellido</b></td>
            <td>{{ entity.apellido }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Celular</b></td>
            <td>{{ entity.celular }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Email</b></td>
            <td>{{ entity.mail }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Teléfono</b></td>
            <td>{{ entity.telefono }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Usuario</b></td>
            <td>{{ entity.usuario }}</td>
        </tr>
        <tr class="gradeA">
            <td><b>Área</b></td>
            <td>
                <a class="btn btn-mini" href="{{ path('area_show', { 'id': entity.area.id }) }}">
                    {{ entity.area }}
                </a>
            </td>
        </tr>
        <tr class="gradeA">
            <td><b>¿Jefe de Área?</b></td>
            <td>{% if entity.esJefe %}Si{% else %}No{% endif %}</td>
        </tr>
        </tbody>
    </table>

    <div class="dt-panelfooter clearfix">
      <div class="row">
        {% if app.user.rol == 'ROLE_ADMIN' or app.user.rol == 'ROLE_JEFE' %}
          <a type="button" href="{{ path('contador_dar_de_baja', { id: entity.id }) }}" id="darDeBaja" class="pull-right btn btn-default margin-top-10">Dar de baja</a>
        {% endif %}
        <a href="{{ path('contador') }}" class="btn btn-outline btn-default margin-right-20 margin-top-10">Volver</a>
      </div>
    </div>

    </div><!-- panel body del layout-->
</div><!-- panel del layout-->

<div class="panel"><!-- cierra con elpanel del layout-->
        <div class="panel-body"><!-- cierra con panel body del layout-->


            <table class="table table-bordered table-hover table-striped" id="exampleAddRow">
                <thead>
                <tr>
                    <th>Tarea</th>
                    <th>Acciones</th>
                </tr>
                </thead>{% for tarea in entity.tareas %}
                <tr class="gradeA">
                    <td><a href="{{ path('tarea_show', { 'id': tarea.id }) }}" >
                            <b>{{ tarea.nombre }}</b>
                        </a> </td>
                    <td><a href="{{ path('tarea_show', { 'id': tarea.id }) }}" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row"
                           data-toggle="tooltip" data-original-title="ver tarea"><i class="icon wb-eye" aria-hidden="true"></i></a></td>
                </tr>{% endfor %}
                {% if entity.tareas|length < 1 %}
                <tr class="gradeA">
                    <p> <i>No hay tareas asignadas</i></p>
                </tr>
                {% endif %}

            </table>





{% endblock %}

{% block javascript %}
  <script src="{{ asset('bundles/contadores/assets/js/confirmDarDeBaja.js') }}"></script>
{% endblock %}
